body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #44ccd6;}

.allUsersContainer {
  display: grid;
  grid-template-columns: auto auto auto 3% 3%;
  grid-gap: 10px;
  padding: 10px;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
}

.iconImg {
  width: 20px;
}

.userInfo {
  background-color: lightgrey;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #44ccd6;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  height: 50%;
  margin-top: -20px;
}

.imgavatar {
  scale: 0.6;
  border-radius: 50%;
}

.container {
  display: grid;
  justify-content: center;
}

.datacontainer {
  padding: 10px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
